
.grid-item{
    padding: 10px;
    color:white;
}

.form{
    padding: 5% 0px 5% 0px;
}
.formi{
    width: 80%;
}

.menu-item{
    background-color: white;
    color: green;
}

.formText .p{
    padding: 5px;
}


.image-list{
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    padding: 10px 10px 10px 10px;
    overflow: scroll;
    height: 90vh;
}

.hide{
    display: none;
}

.drinkImg{
    border-radius: 5px;
}

.taa{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: sticky; top: 0;
    z-index: 10;  
}

.flex-right{

}

@media only screen and (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
}

@media only screen and (min-width: 801px){
    .hideOnDesktop{
        display: none;
    }
}
