
.grid-item{
    padding: 10px;
    color:white;
}

.form{
    padding: 5% 0px 5% 0px;
}
.formi{
    width: 80%;
}

.menu-item{
    background-color: white;
    color: green;
}

.formText .p{
    padding: 5px;
}

.grid-item-2{
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    background-color: black;
    padding: 10px 10px 10px 10px;
    overflow: scroll;
}

.hide{
    display: none;
}

.drinkImg{
    border-radius: 5px;
}

.taa{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;

}

@media only screen and (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .grid-item{
        height: 30vh;
    }
    .grid-item-2{
        height: 70vh;
    }
}

@media only screen and (min-width: 801px){
    .hideOnDesktop{
        display: none;
    }
    .grid-item{
        height: 100vh;
    }
    .grid-item-2{
        height: 100vh;
    }
}

@media only screen and (max-width:900px) and (min-width: 801px){
    .grid-item{
        height: 40vh;
    }
    .grid-item-2{
        height: 60vh;
    }
}