.App{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2%;
}

.start{
  text-align: center;
  margin: auto;
  padding: 2%;
}
.startText{
  color: white;
  padding: 10px;
  font-weight: 400;
}

.textIn{
  animation-name: easeIn;
  animation-duration: 2s;
}

.textOut{
  animation-name: easeOut;
  animation-duration: 2s;
}

@keyframes easeIn {
  from {transform: translateY(-100vh);}
  to {transform: translateY(0px);}
}

@keyframes easeOut{
  from {transform: translateY(0px);}
  to {transform: translateY(100vh);}
}